.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #f5f5f5;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-label {
    margin-right: 10px;
}

.newsletter-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.newsletter-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #a05a2c;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.newsletter-button:hover {
    background-color: #86491f;
}
