/* src/components/ResourcesSection.css */

.resources-section {
  text-align: center;
  padding: 40px;
  background-image: url(../../Assets/resources\ bg.png);
  color: white;
}

h2 {
  margin-bottom: 10px;
  font-size: 32px;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
}

.resource-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.resource-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  height: 300px;
  flex-wrap: wrap;
}

.resource-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.resource-card:hover .resource-info {
  opacity: 1;
  transform: translateY(0);
}

.category {
  font-weight: bold;
  color: orange;
}

.title {
  margin-top: 5px;
}